# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore IDE or editor files
.idea/
.vscode/

# Ignore log files
*.log



# Ignore sensitive or environment-specific files
config.ini
secrets.json


